{% extends "base.html" %}

{% block title %} 
<title>All Properties</title>
{% endblock%}

{% block main %}
<h1 class="bold">Properties</h1>
<div class="card-deck no-gutters">
   {% for i in items %}
    <div class="card m-1 col-md-4">
        <img class="card-img-top" src="{{url_for('get_image', filename=i.filename)}}" alt="Image of a Building">
        <div class="card-body">
            <h5 class="card-title bold">{{ i.title }}</h5>
            <p class="card-subtitle text-muted mb-3">{{ i.location }}</p>
            <p class="badge badge-pill badge-primary p-2">${{ i.price }}</p>
        </div>
        <a class="card-dark" href="#">
            <div class="card-footer text-center bg-new-clr">
                View Property
            </div>
        </a>
    </div>
   {% endfor %}
</div>
{% endblock %}
