{% extends "base.html" %}

{% block title %} 
<title>View Property</title>
{% endblock%}

{% block main %}
{% include 'flashmssgs.html' %}
{% if place != None %}
<div class="card ch">
    <div class="row">
        <div class="col-md-4 no-gutters">
            <img class="col-md-12 nh" src="{{url_for('get_image', filename=place.filename)}}" alt="Image of a Building">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ place.title }}</h5>
                <div class="row">
                    <div class="col-sm-1 mr-4">
                        <p class="badge badge-pill badge-primary p-2">${{ place.price }}</p>
                    </div>
                    <div class="col-sm-1">
                        <p class="badge badge-pill badge-warning white p-2">{{ place.type }}</p>
                    </div>
                </div>
                <p class="card-text">{{ place.description }}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-muted"><img class="mr-2 op" src="{{ url_for('static', filename='img/bed-24px.svg') }}" alt="Home-Icon">{{ place.no_room }} Bedrooms</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-muted"><img class="mr-2 op" src="{{ url_for('static', filename='img/bathroom-24px.svg') }}" alt="Home-Icon">{{ place.no_bath }} Bathrooms</p>
                    </div>
                </div>
                <p class="card-text text-muted"><img class="img mr-1 op" src="{{ url_for('static', filename='img/place-black-18dp.svg') }}" alt="Home-Icon">{{ place.location }}</p>
                <a href="#" class="btn card-dark bg-new-clr">Email Realtor</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
  <div class="container">
    <h1>Error Displaying Property. Please return to Home Page</h1>
  </div>
</div>
{% endif %}
{% endblock %}
